.sidebar {
  display: flex;
  flex-direction: column;
  padding: 18px;
  background-color: #6d73bb;
  width: 21%;
  height: 666px;
  color: whitesmoke;
}

.group-sidebar {
  display: flex;
  margin-top: 9px;
}

.direct-messages {
  min-height: 162px;
}

.teams {
  display: flex;
}

.delete {
  text-decoration: none;
  margin-left: auto;
}

.city {
  text-transform: capitalize;
}

.create-team-button {
  margin-left: 486px;
}

.team-title {
  margin-left: auto;
}

.search {
  width: 60%;
  margin: 18px;
}

.home {
  display: flex;
}

.main {
  width: 900px;
  background: linear-gradient(rgb(89, 89, 252), #6d73bb);
  height: 160px;
  margin: 27px 18px;
  padding-left: 18px;
  padding-top: 3px;
  color: whitesmoke;
}

.notifications {
  background-color: whitesmoke;
  height: 160px;
  margin: 18px;
  padding-left: 18px;
  padding-top: 3px;
  width: 900px;
}

.groups {
  background-color: whitesmoke;
  /* height: 160px; */
  margin: 36px 18px;
  padding-left: 18px;
  padding-top: 3px;
  width: 900px;
}

.main-container {
  width: 70%;
}

.button-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.button {
  text-decoration: none;
}

.logout {
  text-decoration: none;
}

button {
  text-decoration: none;
}
