.sidebar {
  display: flex;
  flex-direction: column;
  padding: 18px;
  margin: 18px;
  background-color: #6D73BB;
  width: 21%;
  height: 100%;
}

.search {
  width: 60%;
}

.home {
  display: flex;
}

.main {
  width: 70%;
  background: linear-gradient(rgb(89, 89, 252),  #6D73BB);
}

.main-container {
  width: 70%;
}