/* =================== E =================== */
.employee-profile-container {
    width: 400px;
}

/* F */
.form-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-left: 2.4%;
}

/* L */

/* P */
.profile-modal-container {
    width: 100%;
    display: flex;
}

.profile-header {
    width: 400px;
}
/* ============ S ============ */
.search-page-container {
    margin-left: -.5%;
    margin-top: 1%;
}

.search-container {
    display: flex;
    /* height: 650px; */
    /* margin-top: 10%; */
    /* padding-top: 20%; */
    z-index: 12;
    /* position: relative; */
}

.react-select-container {
    width: 75%;
    /* box-shadow: 0px 2px 5px 2px #DEE8F3; */
}

.css-13403tz-ValueContainer {
    background-color: white;
    background: white;
}

/* ============ U ============= */
.user-profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    border-radius: 5px;
    /* background-color: #f0f3fa; */
    color: #008ffa;
    text-decoration: none;
}

.user-avatar {
    padding: 5%;
    border-radius: 100%;
    background-color: #f0f3fa;

}

.user-name {
    width: auto;
    margin-left: 3%;
    /* padding: 6px 10px; */
    /* color: #3facfc; */
    color: #008ffa;
    /* font-weight: 600; */
    font-size: 1.2em;
}

.user-location {
    padding: 1%;
    margin-left: 15%;
    border-radius: 5px;
    background-color: #f0f3fa;
}